/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;600&family=Spartan:wght@500&display=swap');
/*  */
/* PALETA DE CORES */
:root {
    --main-color: #070722;
    --white-color: #FFF;
    --gray-color: #838391;
    --mercury-color: #DEF4FC;
    --venus-color: #F7CC7E;
    --earth-color:#5258FE;
    --mars-color:#FF6C47;
    --jupiter-color:#ECAD79;
    --saturn-color:#FCCB69;
    --uranus-color:#66F0D4;
    --neptune-color:#477DFA;
}
/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Antonio', sans-serif;
}
html,body{
    overflow-x: hidden;
}

/* H */
h1{
    font-size: 5em;
    color: var(--white-color);
}

p, 
.side-rigth-text a, 
.side-rigth-text span{
    font-family: "Spartan", sans-serif;
    color: var(--gray-color);
}

/*  */

body{
    width: 100vw;
    height: 100vh;
    background-color: #070722;
    background-image: url(/src/assets/images/background-stars.svg);
}
/* GERAIS */
header,footer, .root{
    max-width: 1400px;
    margin: auto;
    padding: 0 35px;
}
#logo{
    height: 50px;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.line{
    width: 35px;
    height: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
}
/*      */
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #37374e;
    height: 80px;
}
.menu{
    display: flex;
    color: var(--white-color);
}

.menu li{
    margin: 0 20px;
    color: var(--gray-color);
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 12px;
    transition: .3s all ease;
    position: relative;
}
.menu li::before,
.menu li::after{
    position: absolute;
}
.menu li::after{
    content: '';
    top: -35px;
    left: 0;
    width: 100%;
    border-top: 5px solid transparent;
    transition: 0.3s all ease;
}

#mercury:hover::after,#mercury.active::after{
    border-color: var(--mercury-color);
}
#venus:hover::after,#venus.active::after{
    border-color: var(--venus-color);
}
#earth:hover::after,#earth.active::after{
    border-color: var(--earth-color);
}
#mars:hover::after,#mars.active::after{
    border-color: var(--mars-color);
}
#jupiter:hover::after,#jupiter.active::after{
    border-color: var(--jupiter-color);
}
#saturn:hover::after,#saturn.active::after{
    border-color: var(--saturn-color);
}
#uranus:hover::after,#uranus.active::after{
    border-color: var(--uranus-color);
}
#neptune:hover::after,#neptune.active::after{
    border-color: var(--neptune-color);
}
.menu li:hover, 
.menu li.active{
    color: var(--white-color);
} 

/*       */
.container{
    position: relative;
    padding: 80px 0;
    display: grid;
    grid-template: "left right"
                    "down down";
    max-width: 1110px;
    margin: 0 auto;
    gap: 50px;
}
/* SIDE LEFT */
.side-left{
    grid-area: left;
    margin-right: 100px;
}
.side-left img{
    user-select: none;
    width: 400px;
}
/*  */
/* SIDE RIGHT */
.side-right{
    grid-area: right;
    max-width: 400px;
}
.side-rigth-text p{
    margin: 20px 0;
}
.side-rigth-text span:not(a){
    font-weight: 600;
}
.side-rigth-text a{
    margin-left: 5px;
}
.side-right--types{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.side-right--types .box{
    color: var(--white-color);
    font-family: "Spartan", sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.875em;
    min-width: 100%;
    margin: 8px 0;
    box-shadow: 5px 5px 1px var(--main-color);
    transition: .3s all ease-in;
}
.side-right--types .box.active{
    background-color: var(--mars-color);
}
.side-right--types .box:hover{
    background-color: #37374e;
    transition: .5s  ease-in all;
}
#overview{
    margin-top: 30px;
}
#overview::before{
    content: '01';
}
#internal::before{
    content: '02';
}
#surface::before{
    content: '03';
}
#overview::before,
#internal::before,
#surface::before{
    color: var(--gray-color);
    padding-right: 25px;
}
.box{
    border: 1px solid #37374e;
    padding: 20px 10px 20px 25px;
}
/*           */
/* SIDE DOWN */
.side-down{
    grid-area: down;
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 30px;
}
.side-down p{
    font-size: 2.75em;
    font-family: 'Antonio', sans-serif;
    color: #FFF;
    padding-top: 5px;
}
.side-down h4{
    color:var(--gray-color);
    font-family: sans-serif;
    font-size: 0.875em;
}
/*           */


/* */
@media (max-width: 1050px){
    header, footer, .root{
        max-width: 1000px;
    }
    /* HEADER E NAV */
    header{
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 150px;
        padding: 20px 35px;
    }
    .menu{
        margin-top: 20px;
    }
    .menu li::after{
        border: 0;
    }
    /* CONTAINER */
    h1{
        font-size: 3em;
    }
    .container{
        grid-template: "left "
                        "right"
                        "down";
        place-items: center;
        gap: 60px;
    }
    
    /* SIDES */
    .side-left{
        margin-right: 0;
    }
    .side-left img{
        width: 250px;
    }
    .side-right{
        display: grid;
        grid-template: auto/ repeat(2,1fr);
        max-width: 10000px;
        gap: 25px;
    }
    .side-rigth-text p, 
    .side-rigth-text span{
        font-size: 13px;
    } 
    .side-right--types .box{
        min-width: 300px;
        max-width: 250px;
        font-size: 12px;
    }
    .side-down{
        gap: 15px;
        width: 100%;
    }
    .side-down .box{
        padding: 15px 0 15px 10px;
        
    }
    .side-down .box p{
        font-size: 1.3em;
    }
    .side-down .box h4{
        font-size: 0.75em;
    }
   
    /*  */
}
@media (max-width: 768px){
    /*  */
    .container{
        gap: 20px;
        padding: 120px 0;
    }
    /* HEADER E NAV */
    header{
        min-height: 50px;
        justify-content: space-between;
        flex-direction: row;
        z-index: 1;
    }
    .hamburguer{
        position: relative;
        display: block;
    }
    .hamburguer.active .line:first-child{
        transform: translateY(11px) rotate(135deg);
    }
    .hamburguer.active .line:nth-child(2){
        background-color: transparent;
        visibility: hidden;
    }
    .hamburguer.active .line:last-child{
        transform: translateY(-8px) rotate(45deg);
    }
    .menu{
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -769px;
        height: 100vh;
        width: 100%;
        transition: .3s ease-in all;
        background-color: var(--main-color);
        z-index: 1;
        margin-top: 0;
    }
    .menu.active{
        left: 0;
    }
    .hamburguer, 
    #logo{
        z-index: 2;
    }
    .menu li{
        padding:20px 80px;
        font-size: 18px;
        border-bottom: 1px solid #37374e;
        width: calc(100% - 50px);
        margin:0 auto;
    }
    .menu li::before{
        content: '';
        top: 12px;
        left: 30px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #66F0D4;
        margin-top: 2px;
    }
    #mercury{
        margin-top: 100px;
    }
    /*          */
    /* SIDES    */
    .side-left img{
        padding: 35px 0;
    }
    .side-right {
        grid-template: repeat(2, auto) / 1fr;
        text-align: center;
    }
    .side-right--types{
        position: absolute;
        top: 30px;
        left: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:0;
        width: 100%;
    }
    .side-right--types .box{
        border: 0;
        padding: 0;
        font-size: 13px;
        min-width: 85px;
        color: var(--gray-color);
    }
    .side-right--types::after{
        content: '';
        position: absolute;
        top: 40px;
        left: -35PX;
        width: 769PX;
        background-color: #37374e;
        height: 1px;
    }
    .side-right p{
        max-width: 500px;
    }
    .side-right--types .box.active{
        background-color: transparent;
        color: var(--white-color);
    }
    .side-down{
        grid-template: repeat(4,1fr) / 1fr;
        gap: 10px;
    }
    .side-down .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 24px;
        min-width: calc(100vw - 130px);
        margin: 0;
        height: 48px;
    }
    .side-down .box p{
        font-size: 1.25em;
        padding: 0;
    }
    .side-down .box h4{
        font-size: 10px;
    }
    #overview,
    #internal,
    #surface{
        margin: 0;
    }
    #overview::before,
    #internal::before,
    #surface::before{
        content: '';
        padding: 0;
    }
    #mercury::before{
        background-color: var(--mercury-color);
    }
    #venus::before{
        background-color: var(--venus-color);
    }
    #earth::before{
        background-color: var(--earth-color);
    }
    #mars::before{
        background-color: var(--mars-color);
    }
    #jupiter::before{
        background-color: var(--jupiter-color);
    }
    #saturn::before{
        background-color: var(--saturn-color);
    }
    #uranus::before{
        background-color: var(--uranus-color);
    }
    #neptune::before{
        background-color: var(--neptune-color);
    }
    /*  */
}
@media(max-width: 395px){
    /* SIDES    */
    .side-right--types .box{
        font-size:10px;
        min-width: 75px;
    }
    .side-left img{
        max-width: 190px;
        padding: 20px 0;
    }
    .side-down .box h4{
        font-size: 0.5em;
    }
    .side-down .box{
        padding: 5px 12px;
    }
    /*       */
}